@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */
nav {
    background-color: transparent;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 1%;
    position: relative;
    top: 30px;
    width: 95%;
    margin: auto;
    animation: fadeDown 0.5s;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul.left-nav {
    justify-content: flex-start;
}

nav ul.right-nav {
    justify-content: flex-end;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    transition: 1s;
    margin: 0 3px;
    border-radius: 0;
}

nav a:hover {
    color: #ffffff;
    background-color: rgb(239, 32, 32);
    font-size: 20px;
}

nav img, nav h2 {
    height: 100%;
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.fa-bars {
    color: rgb(0, 0, 0);
}

/* Sidebar */
.side_bar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 20%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    transition: 1s;
    opacity: 0;
}

.side_bar li {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: left;
    transition: 1s;
    list-style: none;
    border-bottom: 2px solid white;
    padding: 20px;
}

.side_bar a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.side_bar.show {
    transform: translateX(0);
    opacity: 1;
    right: 0;
}

.menu {
    display: none;
}

/* Section One */
.SECTION_ONE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
}

.SECTION_ONE_MAIN_CONTENT_PARENT_CONTAINER {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS {
    width: 90%;
    padding: 4%;
    color: white;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h1 {
    width: 70%;
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: 5px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS p {
    width: 100%;
    font-size: 100%;
    margin: 20px 0;
    border-top: 3px solid rgb(239, 32, 32);
    padding-top: 10px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS a {
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 8px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h6 {
    margin-top: 5%;
    font-weight: 300;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS {
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 20px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a:hover {
    color: red;
}

.SECTION_ONE video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    -webkit-transform: translateZ(0); /* Fix for iOS */
    transform: translateZ(0); /* Fix for iOS */
}

@media (min-aspect-ratio: 4/3) {
    .SECTION_ONE video {
        width: 100%;
        height: auto;
    }
}

/* Section Two and Four */
.SECTION_TWO_AND_FOUR {
    width: 100%;
    height: auto;
    background: url('STEM_SOC_BACKGROUND_COLOR_LIGHT.svg') center/cover no-repeat;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.SECTION_TWO_AND_FOUR_PARENT_CONTAINER {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER {
    padding: 3%;
    width: 100%;
    color: white;
    text-align: justify;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER h1 {
    font-size: 3rem;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER p {
    margin-bottom: 20px;
    font-size: 90%;
}

/* Section Three and Five */
.SECTION_THREE_AND_FIVE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
    position: relative;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.SECTION_THREE_AND_FIVE_PARENTS_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER {
    width: 100%;
    padding: 4%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER h2 {
    font-size: 3rem;
    line-height: 100%;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 90%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER a {
    text-decoration: none;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_WEBSITE_VERSION {
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 8px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON {
    padding: 2%;
    margin: 20px 0 0;
    border: 2px solid white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    align-self: flex-start;
    transition: 1s;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON:hover {
    font-size: 2.3rem;
    border-radius: 30px;
    padding: 3%;
    background-color: rgb(239, 32, 32);
    color: white;
}

/* Footer */
.footer {
    background: url("STEM_SOC_BACKGROUND_COLOR_DARK.svg") center/cover no-repeat;
    color: #fff;
    padding: 20px 0;
    text-align: left;
    font-family: "Poppins";
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10%;
}

.footer-section {
    flex: 1 1 30%;
    margin: 10px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
    margin: 5px 0;
    font-size: 14px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 500ms;
}

.footer-section ul li a:hover,
.footer-section p a:hover {
    text-decoration: underline;
    color: #ea4545;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    margin-top: 20px;
}

.footer-bottom p {
    color: #fff;
    font-size: 12px;
    margin: 0;
}

/* Animations */
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translate(0) scale(1);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translate(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translate(0) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ANIMATION_FADE_IN {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.block {
    animation: appear 1s ease-in-out;
}

/* Media Queries */
@media only screen and (max-width: 320px){

    .PHONE_HIDE{
        display: none;
    }

    .menu {
        display: flex;
        font-size: 10px;
    }
  
    .rLinks {
        display: none;
    }
     
    /* Navigation bar */
      nav {
        background-color: transparent;
        backdrop-filter: blur(0px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 1% 1%;
        position: relative;
        top: 20px;
        width: 100%;
        margin: auto;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    nav ul.left-nav {
        justify-content: flex-start;
    }
    
    nav ul.right-nav {
        justify-content: flex-end;
    }
    
    nav li {
        height: 50px;
    }
    
    nav a{
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 15px;
        transition: 1s;
        margin: 0 3px 0 3px;
        border-radius: 40px;
    }
    
    nav a:hover{
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 80px ;
        font-size: 20px;
    }

    nav img{
        height: 100%;
        padding: 0 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
    }
    
    nav h2{
        height: 100%;
        padding: 0 4px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 10px;
        line-height: 1;
    }

    .fa-bars{
        color: rgb(0, 0, 0);
    }
    
    /* Base styling for sidebar */
    .side_bar { 
        position: fixed;
        top: 0;
        right: -100%; /* Start off-screen */
        height: 100vh;
        width: 100%;
        z-index: 999;
        background-color: rgb(0 0 0 / 76%);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 20px;
        transition: 1s; /* Smooth transition for transform and opacity */
        opacity: 0; /* Start hidden */
    }
    
    /* Styling for list items in the sidebar */
    .side_bar li {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: left; /* Center align text and images */
        transition: 1s; 
        list-style: none;
    }
    
    /* Styling for links within the sidebar */
    .side_bar a {
        text-decoration: none; /* Remove underline from links */
        color: white;
        transition: 1s; 
        text-decoration: none;
    }
    
    /* Show the sidebar */
    .side_bar.show {
        transform: translateX(0); /* Move it into view */
        opacity: 1; /* Make it visible */
        right: 0; /* Align with the right edge */
    }

/* ----------------------------- Section One --------------------------------- */
.SECTION_ONE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
}

.SECTION_ONE_MAIN_CONTENT_PARENT_CONTAINER {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS {
    width: 100%;
    padding: 5%;
    color: white;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h1 {
    width: 100%;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS p {
    width: 100%;
    font-size: 70%;
    margin: 5px 0 5px 0;
    border-top: 3px solid rgb(239, 32, 32);
    padding-top: 5px;
    text-align: left;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS a {
    font-size: 70%;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 4px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h6 {
    font-size: 50%;
    margin-top: 5%;
    font-weight: 300;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS {
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 70%;
    padding: 20px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a:hover {
    color: red;
}

.SECTION_ONE video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    -webkit-transform: translateZ(0); /* Fix for iOS */
    transform: translateZ(0); /* Fix for iOS */
}

@media (min-aspect-ratio: 21/9) {
    .SECTION_ONE video {
        width: 100%;
        height: auto;
    }
}

/* ----------------------------- Section Two and Four --------------------------------- */

.SECTION_TWO_AND_FOUR {
    width: 100%;
    height: auto;
    background: url('STEM_SOC_BACKGROUND_COLOR_LIGHT.svg') center/cover no-repeat;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.SECTION_TWO_AND_FOUR_PARENT_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER {
    padding: 5%;
    width: 100%;
    color: white;
    text-align: justify;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER h1 {
    font-size: 1.4rem;
    line-height: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER  p{
    margin-bottom: 20px;
    font-size: 70%;
}

/* ----------------------------- Section Three and Five --------------------------------- */
.SECTION_THREE_AND_FIVE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
    position: relative;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.SECTION_THREE_AND_FIVE_PARENTS_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER {
    width: 100%;
    padding: 0 5%;
    margin-top: 3px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER h2 {
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 70%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER a {
    text-decoration: none;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_WEBSITE_VERSION {
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 4px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
    font-size: 70%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON {
    padding: 2%;
    margin: 10px 0 0;
    border: 2px solid white;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    align-self: flex-start;
    transition: 1s;
    font-size: 100%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON:hover {
    font-size: 100%;
    border-radius: 0px;
    padding: 2%;
    background-color: rgb(239, 32, 32);
    color: white;
}

/* ----------------------------- Footer --------------------------------- */
.footer {
    background: url("STEM_SOC_BACKGROUND_COLOR_DARK.svg") center/cover no-repeat;
    color: #fff;
    padding: 20px 0;
    text-align: left;
    font-family: "Poppins";
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4%;
}

.footer-section {
    flex: 1 1 30%;
    margin: 10px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
    margin: 5px 0;
    font-size: 70%;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 500ms;
}

.footer-section ul li a:hover,
.footer-section p a:hover {
    text-decoration: underline;
    color: #ea4545;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    margin-top: 20px;
}

.footer-bottom p {
    color: #fff;
    font-size: 70%;
    margin: 0 20px;
}
}



@media only screen and (min-width: 375px) and (max-width: 425px){
    .PHONE_HIDE{
        display: none;
    }

    .menu {
        display: flex;
        font-size: 10px;
    }
  
    .rLinks {
        display: none;
    }
     
    /* Navigation bar */
      nav {
        background-color: transparent;
        backdrop-filter: blur(0px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 1% 1%;
        position: relative;
        top: 20px;
        width: 100%;
        margin: auto;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    nav ul.left-nav {
        justify-content: flex-start;
    }
    
    nav ul.right-nav {
        justify-content: flex-end;
    }
    
    nav li {
        height: 50px;
    }
    
    nav a{
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 15px;
        transition: 1s;
        margin: 0 3px 0 3px;
        border-radius: 40px;
    }
    
    nav a:hover{
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 80px ;
        font-size: 20px;
    }

    nav img{
        height: 100%;
        padding: 0 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
    }
    
    nav h2{
        height: 100%;
        padding: 0 4px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 10px;
        line-height: 1;
    }

    .fa-bars{
        color: rgb(0, 0, 0);
    }
    
    /* Base styling for sidebar */
    .side_bar { 
        position: fixed;
        top: 0;
        right: -100%; /* Start off-screen */
        height: 100vh;
        width: 100%;
        z-index: 999;
        background-color: rgb(0 0 0 / 76%);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 20px;
        transition: 1s; /* Smooth transition for transform and opacity */
        opacity: 0; /* Start hidden */
    }
    
    /* Styling for list items in the sidebar */
    .side_bar li {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: left; /* Center align text and images */
        transition: 1s; 
        list-style: none;
    }
    
    /* Styling for links within the sidebar */
    .side_bar a {
        text-decoration: none; /* Remove underline from links */
        color: white;
        transition: 1s; 
        text-decoration: none;
    }
    
    /* Show the sidebar */
    .side_bar.show {
        transform: translateX(0); /* Move it into view */
        opacity: 1; /* Make it visible */
        right: 0; /* Align with the right edge */
    }

/* ----------------------------- Section One --------------------------------- */
.SECTION_ONE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
}

.SECTION_ONE_MAIN_CONTENT_PARENT_CONTAINER {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS {
    width: 100%;
    padding: 5%;
    color: white;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h1 {
    width: 100%;
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: 0px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS p {
    width: 100%;
    font-size: 70%;
    margin: 5px 0 5px 0;
    border-top: 3px solid rgb(239, 32, 32);
    padding-top: 5px;
    text-align: left;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS a {
    font-size: 70%;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 4px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h6 {
    font-size: 50%;
    margin-top: 5%;
    font-weight: 300;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS {
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 70%;
    padding: 20px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a:hover {
    color: red;
}

.SECTION_ONE video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    -webkit-transform: translateZ(0); /* Fix for iOS */
    transform: translateZ(0); /* Fix for iOS */
}

@media (min-aspect-ratio: 21/9) {
    .SECTION_ONE video {
        width: 100%;
        height: auto;
    }
}

/* ----------------------------- Section Two and Four --------------------------------- */

.SECTION_TWO_AND_FOUR {
    width: 100%;
    height: auto;
    background: url('STEM_SOC_BACKGROUND_COLOR_LIGHT.svg') center/cover no-repeat;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.SECTION_TWO_AND_FOUR_PARENT_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER {
    padding: 5%;
    width: 100%;
    color: white;
    text-align: justify;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER h1 {
    font-size: 1.4rem;
    line-height: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER  p{
    margin-bottom: 20px;
    font-size: 70%;
}

/* ----------------------------- Section Three and Five --------------------------------- */
.SECTION_THREE_AND_FIVE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
    position: relative;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.SECTION_THREE_AND_FIVE_PARENTS_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER {
    width: 100%;
    padding: 0 5%;
    margin-top: 3px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER h2 {
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 70%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER a {
    text-decoration: none;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_WEBSITE_VERSION {
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 4px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
    font-size: 70%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON {
    padding: 2%;
    margin: 10px 0 0;
    border: 2px solid white;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    align-self: flex-start;
    transition: 1s;
    font-size: 100%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON:hover {
    font-size: 100%;
    border-radius: 0px;
    padding: 2%;
    background-color: rgb(239, 32, 32);
    color: white;
}

/* ----------------------------- Footer --------------------------------- */
.footer {
    background: url("STEM_SOC_BACKGROUND_COLOR_DARK.svg") center/cover no-repeat;
    color: #fff;
    padding: 20px 0;
    text-align: left;
    font-family: "Poppins";
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4%;
}

.footer-section {
    flex: 1 1 30%;
    margin: 10px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
    margin: 5px 0;
    font-size: 70%;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 500ms;
}

.footer-section ul li a:hover,
.footer-section p a:hover {
    text-decoration: underline;
    color: #ea4545;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    margin-top: 20px;
}

.footer-bottom p {
    color: #fff;
    font-size: 70%;
    margin: 0 20px;
}

}
@media only screen and (min-width: 425px) and (max-width: 768px){
    .PHONE_HIDE{
        display: none;
    }

    .menu {
        display: flex;
        font-size: 10px;
    }
  
    .rLinks {
        display: none;
    }
     
    /* Navigation bar */
      nav {
        background-color: transparent;
        backdrop-filter: blur(0px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 1% 1%;
        position: relative;
        top: 20px;
        width: 100%;
        margin: auto;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    nav ul.left-nav {
        justify-content: flex-start;
    }
    
    nav ul.right-nav {
        justify-content: flex-end;
    }
    
    nav li {
        height: 50px;
    }
    
    nav a{
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 15px;
        transition: 1s;
        margin: 0 3px 0 3px;
        border-radius: 40px;
    }
    
    nav a:hover{
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 80px ;
        font-size: 20px;
    }

    nav img{
        height: 100%;
        padding: 0 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
    }
    
    nav h2{
        height: 100%;
        padding: 0 4px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 10px;
        line-height: 1;
    }

    .fa-bars{
        color: rgb(0, 0, 0);
    }
    
    /* Base styling for sidebar */
    .side_bar { 
        position: fixed;
        top: 0;
        right: -100%; /* Start off-screen */
        height: 100vh;
        width: 100%;
        z-index: 999;
        background-color: rgb(0 0 0 / 76%);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 20px;
        transition: 1s; /* Smooth transition for transform and opacity */
        opacity: 0; /* Start hidden */
    }
    
    /* Styling for list items in the sidebar */
    .side_bar li {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: left; /* Center align text and images */
        transition: 1s; 
        list-style: none;
    }
    
    /* Styling for links within the sidebar */
    .side_bar a {
        text-decoration: none; /* Remove underline from links */
        color: white;
        transition: 1s; 
        text-decoration: none;
    }
    
    /* Show the sidebar */
    .side_bar.show {
        transform: translateX(0); /* Move it into view */
        opacity: 1; /* Make it visible */
        right: 0; /* Align with the right edge */
    }

/* ----------------------------- Section One --------------------------------- */
.SECTION_ONE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
}

.SECTION_ONE_MAIN_CONTENT_PARENT_CONTAINER {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS {
    width: 100%;
    padding: 5%;
    color: white;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h1 {
    width: 100%;
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: 0px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS p {
    width: 100%;
    font-size: 70%;
    margin: 5px 0 5px 0;
    border-top: 3px solid rgb(239, 32, 32);
    padding-top: 5px;
    text-align: left;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS a {
    font-size: 70%;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 4px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h6 {
    font-size: 50%;
    margin-top: 5%;
    font-weight: 300;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS {
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 70%;
    padding: 20px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a:hover {
    color: red;
}

.SECTION_ONE video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    -webkit-transform: translateZ(0); /* Fix for iOS */
    transform: translateZ(0); /* Fix for iOS */
}

@media (min-aspect-ratio: 21/9) {
    .SECTION_ONE video {
        width: 100%;
        height: auto;
    }
}

/* ----------------------------- Section Two and Four --------------------------------- */

.SECTION_TWO_AND_FOUR {
    width: 100%;
    height: auto;
    background: url('STEM_SOC_BACKGROUND_COLOR_LIGHT.svg') center/cover no-repeat;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.SECTION_TWO_AND_FOUR_PARENT_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER {
    padding: 5%;
    width: 100%;
    color: white;
    text-align: justify;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER h1 {
    font-size: 1.4rem;
    line-height: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER  p{
    margin-bottom: 20px;
    font-size: 70%;
}

/* ----------------------------- Section Three and Five --------------------------------- */
.SECTION_THREE_AND_FIVE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
    position: relative;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.SECTION_THREE_AND_FIVE_PARENTS_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER {
    width: 100%;
    padding: 0 5%;
    margin-top: 3px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER h2 {
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 70%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER a {
    text-decoration: none;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_WEBSITE_VERSION {
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 4px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
    font-size: 70%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON {
    padding: 2%;
    margin: 10px 0 0;
    border: 2px solid white;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    align-self: flex-start;
    transition: 1s;
    font-size: 100%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON:hover {
    font-size: 100%;
    border-radius: 0px;
    padding: 2%;
    background-color: rgb(239, 32, 32);
    color: white;
}

/* ----------------------------- Footer --------------------------------- */
.footer {
    background: url("STEM_SOC_BACKGROUND_COLOR_DARK.svg") center/cover no-repeat;
    color: #fff;
    padding: 20px 0;
    text-align: left;
    font-family: "Poppins";
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4%;
}

.footer-section {
    flex: 1 1 30%;
    margin: 10px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
    margin: 5px 0;
    font-size: 70%;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 500ms;
}

.footer-section ul li a:hover,
.footer-section p a:hover {
    text-decoration: underline;
    color: #ea4545;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    margin-top: 20px;
}

.footer-bottom p {
    color: #fff;
    font-size: 70%;
    margin: 0 20px;
}
    
}  



@media only screen and (min-width: 768px) and (max-width: 992px) {  

    .PHONE_HIDE{
        display: none;
    }

    .menu {
        display: flex;
        font-size: 10px;
    }
  
    .rLinks {
        display: none;
    }
     
    /* Navigation bar */
      nav {
        background-color: transparent;
        backdrop-filter: blur(0px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 1% 1%;
        position: relative;
        top: 20px;
        width: 95%;
        margin: auto;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    nav ul.left-nav {
        justify-content: flex-start;
    }
    
    nav ul.right-nav {
        justify-content: flex-end;
    }
    
    nav li {
        height: 50px;
    }
    
    nav a{
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 15px;
        transition: 1s;
        margin: 0 3px 0 3px;
        border-radius: 40px;
    }
    
    nav a:hover{
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 80px ;
        font-size: 20px;
    }

    nav img{
        height: 100%;
        padding: 0 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
    }
    
    nav h2{
        height: 100%;
        padding: 0 4px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-size: 10px;
        line-height: 1;
    }

    .fa-bars{
        color: rgb(0, 0, 0);
    }
    
    /* Base styling for sidebar */
    .side_bar { 
        position: fixed;
        top: 0;
        right: -100%; /* Start off-screen */
        height: 100vh;
        width: 100%;
        z-index: 999;
        background-color: rgb(0 0 0 / 76%);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 20px;
        transition: 1s; /* Smooth transition for transform and opacity */
        opacity: 0; /* Start hidden */
    }
    
    /* Styling for list items in the sidebar */
    .side_bar li {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: left; /* Center align text and images */
        transition: 1s; 
        list-style: none;
    }
    
    /* Styling for links within the sidebar */
    .side_bar a {
        text-decoration: none; /* Remove underline from links */
        color: white;
        transition: 1s; 
        text-decoration: none;
    }
    
    /* Show the sidebar */
    .side_bar.show {
        transform: translateX(0); /* Move it into view */
        opacity: 1; /* Make it visible */
        right: 0; /* Align with the right edge */
    }

/* ----------------------------- Section One --------------------------------- */
.SECTION_ONE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
}

.SECTION_ONE_MAIN_CONTENT_PARENT_CONTAINER {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS {
    width: 100%;
    padding: 5%;
    color: white;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h1 {
    width: 100%;
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: 0px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS p {
    width: 100%;
    font-size: 75%;
    margin: 5px 0 5px 0;
    border-top: 3px solid rgb(239, 32, 32);
    padding-top: 5px;
    margin-bottom: 20px;
    text-align: justify;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS a {
    font-size: 75%;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 4px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_HEADER_PARAGRAPHS h6 {
    font-size: 60%;
    margin-top: 5%;
    font-weight: 300;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS {
    width: 10%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.SECTION_ONE_MAIN_CONTENT_CHILDREN_CONTAINER_ICONS a:hover {
    color: red;
}

.SECTION_ONE video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    -webkit-transform: translateZ(0); /* Fix for iOS */
    transform: translateZ(0); /* Fix for iOS */
}

@media (min-aspect-ratio: 21/9) {
    .SECTION_ONE video {
        width: 100%;
        height: auto;
    }
}

/* ----------------------------- Section Two and Four --------------------------------- */

.SECTION_TWO_AND_FOUR {
    width: 100%;
    height: auto;
    background: url('STEM_SOC_BACKGROUND_COLOR_LIGHT.svg') center/cover no-repeat;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.SECTION_TWO_AND_FOUR_PARENT_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER {
    padding: 5%;
    width: 100%;
    color: white;
    text-align: justify;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER h1 {
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.SECTION_TWO_AND_FOUR_CHILDREN_CONTAINER  p{
    margin-bottom: 20px;
    font-size: 75%;
}

/* ----------------------------- Section Three and Five --------------------------------- */
.SECTION_THREE_AND_FIVE {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.639));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
    position: relative;
    border-top: 10px solid #742a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.SECTION_THREE_AND_FIVE_PARENTS_CONTAINER {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER {
    width: 100%;
    padding: 4%;
    margin-top: 3px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER h2 {
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 70%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER a {
    text-decoration: none;
    color: white;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_WEBSITE_VERSION {
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid rgb(239, 32, 32);
    padding: 4px;
    color: white;
    transition: 1s;
    background-color: rgb(239, 32, 32);
    font-size: 75%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON {
    padding: 2%;
    margin: 10px 0 0;
    border: 2px solid white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    align-self: flex-start;
    transition: 1s;
    font-size: 100%;
}

.SECTION_THREE_AND_FIVE_CHILDREN_CONTAINER_FEATURES_BUTTON:hover {
    font-size: 100%;
    border-radius: 0px;
    padding: 2%;
    background-color: rgb(239, 32, 32);
    color: white;
}

/* ----------------------------- Footer --------------------------------- */
.footer {
    background: url("STEM_SOC_BACKGROUND_COLOR_DARK.svg") center/cover no-repeat;
    color: #fff;
    padding: 20px 0;
    text-align: left;
    font-family: "Poppins";
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4%;
}

.footer-section {
    flex: 1 1 30%;
    margin: 10px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
    margin: 5px 0;
    font-size: 70%;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 500ms;
}

.footer-section ul li a:hover,
.footer-section p a:hover {
    text-decoration: underline;
    color: #ea4545;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    margin-top: 20px;
}

.footer-bottom p {
    color: #fff;
    font-size: 70%;
    margin: 0 20px;
}
}


/* TO AVOID WIDTH SLIDING  */

@media only screen and (max-width:1024px)
{
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media only screen and (max-width:2560px)
{
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}
